/* Add the following CSS to your styles.css file */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: calc(60% + 0.8vmin);
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.6em; /* relative to the base font size set on the html/body */
}

h2 {
  font-size: 1.3em; /* relative to the base font size set on the html/body */
  margin: 20px;
}

/* Set a background image for the body */
body {
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/* Style the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  background-color: rgba(255, 255, 255, 0.7); /* white but slightly transparent box */
  border: 1px solid #dddddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(2, 1, 0);
}

#start-text {
  color: black;
}

#good-luck-text {
  color: black;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  
}

#username-input {
  margin: 20px;
  padding: 10px;
  border: 1px solid #dddddd;
  align-content: center;
  border-radius: 5px;
  width: 100%;
  color: #333333;
}

#end-screen-exit-button, .exit-button {
  position: absolute; /* Change this to relative */
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  display: none; /* Initially hidden */
  padding: 0; /* Add this to reset any default padding */
  overflow: hidden; /* To ensure that nothing spills out of the button */
}

#start-quiz {
  display: none;
}

#shipwreck-score, #smallboat-score, #pirateship-score {
  display: none;
}
#question-container {
  display: none;
}

#end-screen {
  display: none;
}

#start-screen.hide {
  display: none;
}

#start-screen.show {
  display: block;
}

#options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 20px;
}

.option-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: white
}
.option-btn.selected {
  background-color: yellow;
  border: #333333;
  color: black;
}

#submit-btn {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  color: white;
}

#submit-btn:hover {
  background-color: yellow;
  border: #333333;
  color: black
}

/* Style the header */
.header {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}

.header h1 {
  color: #333333;
  margin-bottom: 20%;
}

.content h2 {
  color: #333333;
  margin-bottom: 10px;
}

.content p {
  color: #666666;
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
  border: #333333;
  color: black
}

.Author {
  text-align: center;
  margin-top: 20%;
}

#shipwreck-results, #smallboat-results, #pirateship-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  margin: 20px;
  max-width: 200px;
  max-height: 200px;
}

/* Style the footer */
.footer {
  text-align: center;
  color: #666666;
  margin-bottom: 20px;
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  /* Adjustments for desktop devices */
  .container {
      max-width: 50%;
  }

  #username-input {
      width: 60%;
  }

  #end-screen-exit-button, .exit-button {
    left: 25%; 
}
}

/* Tablet */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /* Adjustments for tablet devices */
  .container {
      max-width: 80%;
  }

  #username-input {
      width: 60%;
  }

  #end-screen-exit-button, .exit-button {
    left: 10%; 
}
}

/* Mobile (landscape) */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* Adjustments for landscape mobile devices */
  .container {
      max-width: 90%;
  }

  #username-input {
      width: 60%;
  }

  #end-screen-exit-button, .exit-button {
    left: 8%; 
}
}

/* Mobile (portrait) */
@media only screen and (max-width: 479px) {
  /* Adjustments for portrait mobile devices */
  .container {
      max-width: 100%;
      padding: 10px;
  }

  h2 {
      font-size: 1.5em;
  }

  #options, 
  #submit-btn, 
  #start-text, 
  #good-luck-text, 
  #enter-username {
    font-size: 1.4em;
  }

  #end-screen-exit-button, .exit-button {
    left: 8%; 
}
  

  #username-input {
      width: 60%;
  }

  img {
      width: 100%;
      height: auto;
  }

  button {
      padding: 5px 10px;
      font-size: 0.9em; /* relative to the base font size */
  }
}
