/* Add the following CSS to your styles.css file */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Set a background image for the body */
body {
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Style the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); /* white but slightly transparent box */
  border: 1px solid #dddddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(2, 1, 0);
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  
}

#username-input {
  margin: 20px;
  padding: 10px;
  border: 1px solid #dddddd;
  align-content: center;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  color: #333333;
}

/* Style the Question H2 */
h2 {
  margin: 20px;
}
#start-quiz {
  display: none;
}

#shipwreck-score, #smallboat-score, #pirateship-score {
  display: none;
}
#question-container {
  display: none;
}

#end-screen {
  display: none;
}

#start-screen.hide {
  display: none;
}

#start-screen.show {
  display: block;
}

#options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 20px;
}

.option-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: white
}
.option-btn.selected {
  background-color: yellow;
  border: #333333;
  color: black;
}

#submit-btn {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  color: white;
}

#submit-btn:hover {
  background-color: yellow;
  border: #333333;
  color: black
}

/* Style the header */
.header {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}

.header h1 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 20%;
}

.content h2 {
  color: #333333;
  font-size: 20px;
  margin-bottom: 10px;
}

.content p {
  color: #666666;
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
  border: #333333;
  color: black
}

.Author {
  text-align: center;
  margin-top: 20%;
}

#shipwreck-results, #smallboat-results, #pirateship-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  margin: 20px;
  max-width: 200px;
  max-height: 200px;
}

/* Style the footer */
.footer {
  text-align: center;
  color: #666666;
  font-size: 13px;
  margin-bottom: 20px;
}
